numpy==1.26.4
opencv-python==4.9.0.80
torch==2.2.2
torchvision==0.17.2
timm==0.9.16
segmentation-models-pytorch==0.3.3
albumentations==1.4.4
matplotlib==3.8.4
pillow==10.3.0
scipy==1.13.0
pandas==2.2.2
tqdm==4.66.2
PyYAML==6.0.1
scikit-image==0.22.0
scikit-learn==1.4.2
einops==0.8.0
imageio==2.34.1
psutil==5.9.8
transformers>=4.48.0
safetensors>=0.4.0
huggingface-hub>=0.27.0